.header {
    background-color: #fff;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    flex: 1; /* Logo takes up available space */
    max-width: 150px; /* Max width of logo */
}

.logo img {
    max-width: 100%; /* Ensures the image scales down responsively */
    height: auto; /* Maintains aspect ratio */
}

.menu-toggle {
    cursor: pointer;
    font-size: 24px;
    display: none; /* Hidden by default on larger screens */
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

nav ul li a.beranda {
    color: #00BFFE;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: row; /* Ensure items are horizontal */
        justify-content: space-between; /* Ensure logo and menu toggle are at opposite ends */
        align-items: center; /* Center items vertically */
        margin: 0 auto;
        padding: 0 10px; /* Adjust padding for better spacing */
    }

    .logo {
        max-width: 150px; /* Adjust max width of logo for mobile */
        position: absolute;
        left: 10px; /* Adjust left position as needed */
    }

    .menu-toggle {
        display: block; /* Display menu icon on smaller screens */
        font-size: 24px;
        cursor: pointer; /* Add cursor pointer for interaction */
        position: absolute;
        right: 10px; /* Adjust right position as needed */
    }

    nav {
        display: none; /* Hide navigation by default on smaller screens */
        transition: max-height 0.3s ease-out; /* Add transition for smooth animation */
        max-height: 0; /* Initially hide menu */
        overflow: hidden; /* Hide overflow to prevent content showing when closed */
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: #fff;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        border-radius: 5px;
        flex-direction: column; /* Display navigation items vertically */
        padding: 10px;
        z-index: 1000;
    }

    nav.open {
        display: flex; /* Show navigation when open */
        max-height: 500px; /* Set a max height for the menu to expand */
    }

    nav ul {
        list-style: none;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        margin: 10px 0;
    }
}
