    .testimonials {
        padding: 20px;
        font-family: 'Manrope', sans-serif;
    }

    .testimonials-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .header-title {
        font-size: 40px;
        font-weight: bold;
        font-family: 'Manrope', sans-serif;
        text-align: center;
        margin-bottom: 0px;
    }

    .header-description {
        font-size: 16px;
        font-weight: 600;
        font-family: 'Manrope', sans-serif;
        text-align: center;
        margin-top: 0px;
    }

    .testimonials-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 20px;
        gap: 40px;
    }

    .testimonial-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: linear-gradient(to right, #EBF8FF, #FDFEFF);
        border: 3px solid #4EC6FF;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        width: 500px;
        height: 120px;
    }

    .testimonial-image {
        width: 76px;
        height: 76px;
        margin: 20px 10px 20px;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    .testimonial-text {
        text-align: baseline;
    }

    .testimonial-text p {
        font-family: 'Manrope', sans-serif;
        font-size: 16px;
        color: #666;
        margin-bottom: 0;
        text-align: left;
        margin-top: 0px;
    }

    .testimonial-text h4 {
        font-family: 'Manrope', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #333;
        margin-bottom: 0;
        text-align: left;
        margin-top: 0;
    }

    .statistics {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        gap: 100px;
    }

    .stat {
        text-align: center;
        margin-bottom: 20px;
    }

    .stat-number {
        font-size: 48px;
        font-weight: 800;
        background: linear-gradient(to right, #0179B4, #88D8FF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        margin-bottom: 10px;
    }

    .stat-description {
        font-size: 14px;
        font-weight: 600;
        color: #666;
        margin-top: 0;
    }

    /* Media queries untuk tampilan responsif */
    @media (max-width: 768px) {
        .testimonials-content, .statistics {
            flex-direction: column;
        }

        .testimonial-box {
            width: 100%;
            max-width: 400px; /* Atur agar sesuai dengan lebar perangkat */
        }

        .testimonial-text p{
            font-size: 10px;
        }

        .testimonial-text h4{
            font-size: 10px;
        }

        .statistics {
            gap: 0px; /* Kurangi jarak antara elemen statistik */
        }

        .stat-number {
            font-size: 32px; /* Atur ukuran font untuk statistik pada perangkat mobile */
        }

        .stat-description {
            font-size: 12px; /* Atur ukuran font deskripsi statistik pada perangkat mobile */
        }
    }
